* {
    margin: 0;
    transition: all .5s;
}

html,
body {
    height: 100%;
}

body {
    color: #fff;
    /* background-image: url(../img/indexBg.jpg);
    background-repeat: no-repeat;
    background-size: cover; */
}

video {
    margin: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: relative;
}

#ewm-box {
    margin-top: 4px;
    position: relative;
    width: 110px;
    height: 110px;
    background: url(../img/ewm.png);
    background-size: cover;
    float: left;
}

#ewm {
    position: absolute;
    left: 50%;
    top: 50%;
    margin-top: -19.5px;
    margin-left: -19.5px;
}

#pc {
    height: 118px;
    position: absolute;
    top: 0px;
    right: -114px;
}

#qszh {
    position: absolute;
    right: 2em;
    top: 4.5em;
}

#sl {
    position: absolute;
    left: 2em;
    bottom: 2em;
    width: 6em;
}

.p2 {
    background-image: url(../img/indexBg.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
    width: 100%;
    height: 100%;
    margin-top: -4px;
}

img {
    vertical-align: middle;
    align-items: center;
    cursor: pointer;
}

header {
    height: 66px;
    width: 100%;
    position: fixed;
    background-color: rgba(17, 17, 17, 0.70);
    z-index: 998;
    box-shadow: 0px 3px 7px 0px rgba(0, 0, 0, 0.35);
    top: 0;
    left: 0;
    line-height: 66px;
}

header>div {
    position: absolute;
    width: 100%;
    display: inline-block;
}

#music {
    position: relative;
    left: 3em;
}

header>div>ul {
    width: 40%;
    display: inline-block;
    margin-left: -5em;
}

header>div>ul>li {
    display: inline-block;
    width: 66px;
    text-align: center;
}

header>div>ul>li:hover {
    text-shadow: 0 0 10px #69e0ff,
        0 0 20px #69e0ff,
        0 0 40px #69e0ff;
    cursor: pointer;
}

header>div>ul>:nth-child(1)::after {
    content: '';
    width: 44px;
    background-color: rgb(106, 224, 255);
    display: block;
    height: 5px;
    margin: auto;
    margin-top: -66px;
}

header>div>ul>li:hover::after {
    content: '';
    width: 44px;
    background-color: rgb(106, 224, 255);
    display: block;
    height: 5px;
    margin: auto;
    margin-top: -66px;
}

.user-div {
    display: inline-block;
    height: 66px;
    position: absolute;
    right: 4em;
    line-height: 66px;
    font-size: large;
}

.user-div>span {
    margin: 0 1em;
    color: #ccc;
    height: 100%;
}

.user-div>span:hover {
    color: #fff;
    cursor: pointer;
}

.play-box {
    position: absolute;
    background: url(../img/play-bg.png) no-repeat;
    height: 76px;
    width: 356px;
    left: 50%;
    margin-left: -178px;
    bottom: 13em;
    text-align: center;
    line-height: 64px;
}

.play-box>button {
    width: 48px;
    height: 48px;
    border-radius: 50%;
    border: 1px solid transparent;
    position: relative;
}

.play-box>button:hover {
    background: transparent;
}

.play-box>button::after {
    content: '';
    display: block;
    position: absolute;
    width: 28px;
    height: 28px;
    background-image: url(../img/icon-play.png);
    background-position: 0 0;
    margin-top: -14px;
    margin-left: -14px;
    left: 50%;
    top: 50%;
}

.play-box>button:hover::after {
    background-position: 28px 28px;
}

.download-box {
    position: absolute;
    width: 436px;
    height: 118px;
    left: 50%;
    margin-left: -277px;
    bottom: 4em;
}

.download-box>div {
    display: inline-flex;
}



#xwzx-div {
    width: 50%;
    margin: auto;
    text-align: center;
    padding-top: 10em;
    position: relative;
    white-space: nowrap;
}

#xwzx-div>h1 {
    display: inline-block;
    vertical-align: middle;
    font-size: 50px;
    font-weight: 400;
    width: 30%;
}

/* #xwzx-div>h1::before {
    background-image: url(../img/arrow.png);
    display: block;
    position: absolute;
    left: 0;
    width: 322px;
    height: 14px;
    content: '';
    top: 40%;
}

#xwzx-div>h1::after {
    background-image: url(../img/arrow.png);
    display: block;
    position: absolute;
    right: 0;
    width: 322px;
    height: 14px;
    content: '';
    transform: rotate(180deg);
    top: 40%;
} */

main {
    width: 1280px;
    margin: auto;
    height: 400px;
    margin-top: 3em;
    background-color: rgba(38, 18, 12, 0.62);
}

#main-banner {
    float: left;
    width: 50%;
    background-size: 100% 100%;
    background-image: url(../img/main-bg.jpg);
    height: 100%;
}

.main-div {
    padding: 0px 2em;
    float: right;
    width: 45%;
    height: 100%;
}

.main-div>ul {
    display: inline-block;
    width: 100%;
    height: 39px;
    border-bottom: 3px solid rgba(255, 255, 255, 0.1);
    padding: 0;
    margin-top: 1em;
    line-height: 39px;
}

.main-div>ul>li {
    display: inline-block;
    height: 100%;
    width: 74px;
    text-align: center;
    position: relative;
}

.main-div>ul>li:hover {
    cursor: pointer;
}

.main-div>ul>li:hover::after {
    content: '';
    display: block;
    width: 74px;
    height: 3px;
    position: absolute;
    bottom: -3px;
    background-color: #ffd49f;
}

.main-div>div {
    display: inline-block;
    width: 100%;
    height: 52px;
    border-bottom: 2px solid rgba(255, 255, 255, 0.1);
    padding: 0;
    line-height: 52px;
    position: relative;
}

.main-div>div:hover {
    background-color: rgba(255, 212, 159, 0.06);
    cursor: pointer;
}

.main-div>div>time {
    position: absolute;
    right: 11px;
    color: rgba(255, 255, 255, 0.35);
}

#ckqb {
    float: right;
    margin-top: 1em;
    color: rgba(255, 255, 255, 0.75);
    line-height: 23px;
    background: url(../img/icon-add-w.png) no-repeat left center/22px;
    text-align: right;
    width: 135px;
}

#ckqb:hover {
    color: rgba(255, 212, 159, 0.75);
    background: url(../img/icon-add.png) no-repeat left center/22px;
    cursor: pointer;
}